###########################
######## folder ###########
###########################
bin/
gen/
libs/
obj/
backup/
publish/
Debug.win32/
Release.win32/
build/
/Library/

###########################
######## file #############
###########################
*.apk
*.pidb
*.pyc
*.sdf
*.suo

###########################
####### script ############
###########################

!libs/*.jar
